{% extends "base.html" %}

{% block content %}
    <h1>{{ car.make }} {{ car.model }} - {{car.year}}</h1>

    {% if car.image %}
        <img src="{{ car.image.url }}" alt="{{ car.make }} {{ car.model }}" class="car-image">
    {% endif %}

    <p>Color: {{ car.color }}</p>
    <p>Style: {{ car.style }}</p>
    <p>Price: ${{ car.price }}</p>
    <p>Transmission: {{ car.transmission }}</p>
    <p>Fuel Type: {{ car.fuel_type }}</p>


    <a href="{% url 'car-list' %}">Back to car list</a>

{% endblock %}